.ios, .md {
 
  page-login {

    .hidden {
      display: none!important;
    }
 
    .scroll-content {
      background-color: #4c92bd;
      display: flex;
      flex-direction: column;
      overflow: hidden;
    }
 
    img {
      width: 50%;
      height: auto;
      margin: 0 auto;
    }
 
    #cloud-layer {
      background-image: url(../images/iot_background_blank.png);
      background-size: cover;
      width: 100%;
      height: 100%;
    }
 
      ion-row {
        align-items: center;
        text-align: center;
      }
 
      ion-item {
          border-radius: 30px !important;
          padding-left: 10px !important;
          margin-bottom: 10px;
          background-color: #f6f6f6;
          opacity: 0.7;
          font-size: 0.9em;
      }
 
      ion-list {
          margin: 0;
      }
 
      .login-button {
          width: 100%;
          border-radius: 30px;
          font-size: 0.9em;
          border: 1px solid #fff;
          background-color: #39acdc;
      }
 
  }
 
}

// page-login {
 
//   .login-content {
//     background: #56CA96;
 
//     .logo-row {
//       padding-top: 50px;
//       padding-bottom: 20px;
//     }
 
//     .login-box {
//       background: #399F8B;
//       padding: 20px 20px 0px 20px;
//       margin-top: 30px;
//     }
 
//     ion-row {
//        align-items: center;
//        text-align: center;
//      }
 
//      ion-item {
//          border-radius: 30px !important;
//          padding-left: 30px !important;
//          font-size: 0.9em;
//          margin-bottom: 10px;
//          border: 1px solid #ffffff;
//          border-bottom: 0px !important;
//          box-shadow: none !important;
//      }
 
//      .signup-col {
//        margin: 0px 16px 0px 16px;
//        padding-bottom: 20px;
//      }
 
//      .item-inner {
//        border-bottom-color: #ffffff !important;
//        box-shadow: none !important;
//      }
 
//      .submit-btn {
//        background: #51CFB1;
//        border-radius: 30px !important;
//        border: 1px solid #ffffff;
//      }
 
//      .register-btn {
//        color: #ffffff;
//        font-size: 0.8em;
//      }
//   }
 
// }